#cv-form {
  background-color: rgb(255, 255, 255);
  width: 54.57vh;
  height: 77vh;
  padding: 3vh 1vw 3vh 1vw;
  box-shadow: #1b1919 0px 1px 25px;
}

h2 {
  font-size: 1.6rem;
}

#contacts {
  display: flex;
  justify-content: center;
}

#contacts p {
  margin: 0 2% 0 2%;
  font-size: 1rem;
  padding-bottom: 2px;
  border-bottom: solid #1b1919 2px;
}

h4 {
  font-size: 1.3rem;
  font-weight: 900;
  width: 90%;
  display: flex;
  padding-left: 5%;
  margin-left: 2.5%;
  border-bottom: solid 3px #1b1919;
  padding-bottom: 1vh;
}

.education-cv {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: -2vh 1vw 0 2vw;
  font-size: 0.8rem;
}

.ed-title {
  font-weight: 900;
}

.education-details {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.education-details p {
  margin: 0;
  font-weight: 500;
}

.work-title {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: -1vw 1vw 0 2vw;
  font-size: 0.8rem;
}

.job-title {
  font-weight: 900;
}

.work-description {
  width: 80%;
  border: none;
  background: none;
  color: #1b1919;
  line-height: 1.2vw;
  margin: 0;
  font-size: 0.8rem;
  overflow: hidden;
}

#cv-form textarea {
  box-shadow: none;
}
