#component {
  background-color: #444444;
  width: 85%;
  margin: 1vh;
  padding: 1vh 0 2vh 0;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#title-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 1vw 0 1vw;
}

#title-area h1 {
  font-size: 3rem;
}

.form {
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 2vh;
}

.form label {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: #b9b9b9 3px solid;
  width: 70%;
}

.form input {
  width: 65%;
  margin: 1vh;
  padding: 0.3rem;
  border: none;
  background-color: #0707077c;
  border-radius: 0.5rem;
}

#button-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form #save-button {
  background-color: #51d8137c;
  margin: 0.5vw;
}

.form #cancel-button {
  margin: 0.5vw;
}

.form #delete-button {
  margin: 0.5vw;
  background-color: #ec44447c;
}

.saved-section {
  flex-direction: row;
  width: 90%;
  align-items: stretch;
  justify-content: center;
  background-color: #333333;
  margin: 0.5vh 0 0.5vh 0;
  border-radius: 1rem;
}

.saved-section .description-section {
  width: 85%;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1vh 0 1vh 0.5vw;
}

.saved-section .description-section p {
  margin: 0;
}

.saved-section button {
  width: 15%;
}
