#component {
  background-color: #444444;
  width: 85%;
  margin: 1vh;
  border-radius: 0.8rem;
}

#title-area {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

#title-area h1 {
  font-size: 37px;
}

#form {
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 2vh;
}

#form label {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: #b9b9b9 3px solid;
  width: 70%;
}

#form input {
  width: 65%;
  margin: 1vh;
  padding: 0.2rem;
  height: 2rem;
  font-size: 1.7rem;
  border: none;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: #212222 0px 1px 5px;
}

#form button {
  margin-right: -85%;
  background-color: #51d8137c;
  box-shadow: #212222 0px 1px 5px;
}
