#component {
  background-color: #fcf9f9;
  width: 85%;
  margin: 2vh;
  padding: 1vh 0 2vh 1vw;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: #333333bb 0px 1px 15px;
}

* {
  color: #363636;
}

#title-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 1vw 0 1vw;
}

#title-area h1 {
  font-size: 2rem;
}

#title-area button {
  background-color: #aabee2;
  box-shadow: #212222 0px 1px 5px;
}

.form {
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 2vh;
}

.form label {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: #b9b9b9 3px solid;
  width: 70%;
}

.form input {
  width: 65%;
  margin: 1vh;
  height: 2rem;
  font-size: 1.7rem;
  border: none;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: #212222 0px 1px 5px;
}

textarea {
  resize: none;
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.7vw;
  height: 12rem;
  margin: 3vh;
  box-shadow: #212222 0px 1px 5px;
}

#button-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form #save-button {
  background-color: #51d8137c;
  margin: 0.5vw;
  box-shadow: #212222 0px 1px 5px;
}

.form #cancel-button {
  margin: 0.5vw;
  background-color: #979797;
  box-shadow: #212222 0px 1px 5px;
}

.form #delete-button {
  margin: 0.5vw;
  background-color: #ec44447c;
  box-shadow: #212222 0px 1px 5px;
}

.saved-section {
  flex-direction: row;
  width: 90%;
  align-items: stretch;
  justify-content: center;
  background-color: #fdfdfd;
  box-shadow: #212222 0px 0px 7px;
  margin: 0.5vh 0 0.5vh 0;
  border-radius: 1rem;
}

.saved-section .description-section {
  width: 85%;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1vh 0 1vh 0.5vw;
}

.saved-section .description-section p {
  margin: 0;
}

.saved-section button {
  width: 15%;
  background-color: #aabee2;
}
