#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#main {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

#details {
  width: 38vw;
  height: 90vh;
  border-radius: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#details::-webkit-scrollbar {
  display: none;
}

#cv-div {
  width: 54.57vh;
  height: 77vh;
  margin: 1.5vw 2vw 1.5vh;
  background-color: #ffffff;
  color: #1b1919;
}
